<div class="module" id="{module_type}">

    <form action="/htbin/update_data.py" method="post">

        <p>
            <!--            on radio button             -->
            <input id="onButton" name="state" type="radio" value="on" unchecked>

            <!--            on label            -->
            <label for="onButton">ON</label>

            <!--            off radio button            -->
            <input id="offButton" name="state" type="radio" value="off" unchecked>

            <!--            off label           -->
            <label for="offButton">OFF</label>

        </p>

<!--        <p>-->
<!--            &lt;!&ndash;        time delay label        &ndash;&gt;-->
<!--            <label>Time delay: </label>-->

<!--            &lt;!&ndash;        minute delay delay label        &ndash;&gt;-->
<!--            <label for="hourDelay">Hours </label>-->

<!--            &lt;!&ndash;        time delay input        &ndash;&gt;-->
<!--            <input id="hourDelay" type="number" name="hour_delay" value="0" min="0" max="23">-->

<!--            &lt;!&ndash;        hour delay label        &ndash;&gt;-->
<!--            <label for="minuteDelay">Minutes </label>-->

<!--            &lt;!&ndash;        hour delay input        &ndash;&gt;-->
<!--            <input id="minuteDelay" type="number" name="minute_delay" value="0" min="0" max="59">-->

<!--        </p>-->

        <p>
            <!--            id field           -->
            <input type="hidden" name="id" value="{module_id}">

            <!--            submit button           -->
            <button id="submitButton" type="submit" value="state">Update</button>

        </p>

    </form>

</div>