<div class="module" id="{id}">

    <form action="/htbin/update_data.py" method="post">

        <p>
            <!--            on radio button             -->
            <input id="on_button" name="state" type="radio" value="on" unchecked>

            <!--            on label            -->
            <label for="on_button">ON</label>

            <!--            off radio button            -->
            <input id="off_button" name="state" type="radio" value="off" unchecked>

            <!--            off label           -->
            <label for="off_button">OFF</label>

        </p>
        <p>
            <!--            id field           -->
            <input type="hidden" name="id" value="{id}">

            <!--            submit button           -->
            <button id="submitButton" type="submit" value="state">Update</button>
        </p>

    </form>

</div>